@mixin burger_line ($position,$top) {
    position: $position;
    content: '';
    top: $top;
    left: 0;
    height: 0.5em;
    width: 3em;
    border-radius: 1em;
    background-color:#FD5272;
}

@mixin header__btn ($image) {
    display: block;
    height: 73px;
   /* width: 33%;*/
    padding: 0 4em;
    border: none;
    background: url($image) no-repeat;
    background-position: calc(50%) calc(50%);
    border-right:2px solid #F1F1F1;
}

@mixin header__text ($fs,$color){
    padding-bottom: 9px; ;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    font-size: $fs;
    color: $color;
}

@mixin triangle ($top, $left) {
    position: absolute;
    left: $left;
    top: $top;
    content: '';
    border: 0.25em solid transparent;
}


@mixin aside__btn($image) {
    position: relative;
    height: 100%;
    width: 8em;
    flex-grow: 1;
    background: url($image) no-repeat center;
    border: none;
}