@font-face {
    font-family: 'Deftone';
    src: url(Deftone.ttf);
}
$Logofont: 'Deftone';

$HD: 1280px;

$LP: 820px;

$MP: 415px;

$SP: 375px;

$ESP: 320px;

$btn-OF: '/source/img/header_settings/open_folder.svg';

$btn-settings: '/source/img/header_settings/settings.svg';

$btn-upload: '/source/img/header_settings/upload.svg';

$btn-message: '/source/img/header_settings/message.svg';

$btn-online: '/source/img/header_settings/online.svg';

$btn-kebab: '/source/img/header_settings/kebab_menu.png';

$btn-people: '/source/img/aside-icon/people.svg';

$btn-chat: '/source/img/aside-icon/chat.svg';

$btn-like: '/source/img/aside-icon/like.svg';