@font-face {
    font-family: 'Deftone';
    src: url(Deftone.ttf);
}
$Logofont: 'Deftone';

$HD: 1280px;

$LP: 820px;

$MP: 415px;

$SP: 375px;

$ESP: 320px;

$btn-OF: '../img/header_settings/open_folder.svg';

$btn-settings: '../img/header_settings/settings.svg';

$btn-upload: '../img/header_settings/upload.svg';

$btn-message: '../img/header_settings/message.svg';

$btn-online: '../img/header_settings/online.svg';

$btn-kebab: '../img/header_settings/kebab_menu.png';

$btn-people: '../img/aside-icon/people.svg';

$btn-chat: '../img/aside-icon/chat.svg';

$btn-like: '..img/aside-icon/like.svg';