.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.4em 1em 0.4em 8em;
    background: #F1F1F1;

    .monthly-progress {
        width: 70.4em;
        margin: 1em;
        padding: 3em;
        background-color: #FFFFFF;

        .monthly-header {
            display: flex;
            justify-content: space-between;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
        }

        .title {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 1.4em;
            color: #777777;
        }

        img {
           /* height: 11.7em;
            width: 58.2em;*/
            margin: 3.2em 0;
        }

        .manthly-menu{
            display: flex;
        }

        .manthly-btn{
            height: 2.4em;
            width: 6.8em;
            text-align: center;
            color: #BFBFBF;
            background: transparent;
            border:none;
            border-radius: 2em;
        }

        .manthly-burger {
            height: 2.4em;
            width: 2em;
            border: none;
            background: url(../img/header_settings/kebab_menu.png) no-repeat center/cover;
            background-size: 70%;
        }
        
        .manthly-btn:nth-child(2){
            height: 2.4em;
            width: 4em;
        }

        .manthly-btn:nth-child(3){
            height: 2.4em;
            width: 4em;
        }

        .manthly-btn:hover {
            color: #FFFFFF;
            background: linear-gradient(to left, #FD5272,#F87359);
        }

        .vertical-items {
            height: 6em;
            width: 3em;
            margin-right: 2em;
            font-family: 'Lato',sans-serif;
            font-size: 1.2em;
            color: #BFBFBF;
        }

        .vertical-items li {
            margin: 2em 0;
        }

        .horizontal-items { 
            margin-left: 4em;
            font-family: 'Lato',sans-serif;
            font-size: 1.2em;
            color: #BFBFBF;
        }

        .horizontal-items li {
            margin: 0 1em;
            display: inline-block;
        }
    }

    .box {
        width: 24.1em;
        padding-bottom: 2.3em;
        text-align: center;
        background-color: #FFFFFF;
    }

    .revenue {
        margin: 1em;
        flex-grow: 1;
        text-align: center;
        background-color: #FFFFFF;

        .box__title {
            margin: 2.2em 0 2em 0;
        }
    }

    .circle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 14.5em;
        width: 14.5em;
        margin-bottom: 1em;
        border-radius: 50%;
    }

    .circle__value {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        height: 5em;
        width: 5em;
        font-size: 2em;
        font-weight: bolder;
        color: #834FBA;
        border-radius: 50%;
        box-shadow: 0 0 10px 1px rgba(0,0,0, 0.2);
        z-index: 5;
    }

    .circle__border {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    #progress {
        fill: none;
        stroke: url(#circleBorder);
        stroke-width: 13px;
    }

    .feed {
        width: 46.7em;
        margin: 1em;
        padding: 3em 3em 4.5em;
        background-color: #ffffff;

        .feed__title {
            margin: 0 0 2em 0;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 1.4em;
            color: #777777;
        }

        .bold {
            font-weight: 900;
        }
        .item {
            display: flex;
        }

        .comments {
            text-align: right;
        }

        .inner-comments {
            margin: 0 0 0 2em;
            border-left: 0.4em solid #F1F1F1;

            .comments-box {
                margin: 2em 2em;
                width: 31.6em;
            }
        }

        .time {
            font-family: 'Lato', sans-serif;
            margin-top: 1.3em;
            text-align: center;
            font-size: 8px;
            color: #979796;
        }

        .comments-box {
            height: 8.4em;
            width: 34.5em;
            margin-left: 2em;
            padding: 2.1em 2.4em 1.8em 2.3em;
            background: #F1F1F1;
            border: 1px solid #BFBFBF;
        }

        .comment {
            height: 3.5em;
            font-family: 'Lato',sans-serif;
            font-weight: normal;
            line-height: 15px;
            font-size: 12px;
            text-align: left;
            color: #777777;
            overflow: hidden;
        }
    }

    .tasks {
        width: 100%;
        padding: 3.2em 0 2em 3em;
        background-color: #FFFFFF;

        .task__title {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 1.4em;
            color: #777777;
        }

        .todos {
            margin-top: 2em;
        }

        .todo__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 44em;
            padding: 1.2em;
            border: none;
            border-top: 2px solid #BFBFBF;
        }

        input[type="checkbox"] {
            display:none;
        }

        input[type="checkbox"] + label span {
            display:inline-block;
            width:19px;
            height:19px;
            margin:-1px 4px 0 0;
            vertical-align:middle;
            background:url(../img/icon/unchecked.svg) no-repeat center/cover;
            cursor:pointer;
        }

        input[type="checkbox"]:checked + label span {
            background:url(../img/icon/checked.svg) no-repeat center/cover;
        }

        .todo-name {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 1.2em;
            text-align: left;
            color: #FD566F;
        }

        .todo-text {
            width: 21em;
            font-family: 'Lato',sans-serif;
            font-size: 1.2em;
            text-align: left;
            color: #BFBFBF;
            border: none;
            background: transparent;
        }

        .todo-time {
            position: relative;
            font-family: 'Lato', sans-serif;
            font-size: 1.2em;
            color: #9C9C9C;
            text-align: left;
        }

        .todo-time::before {
            position: absolute;
            top: 0;
            left: -1.2em;
            content: '';
            height: 1em;
            width: 1em;
            background: url(../img/icon/clock.svg) no-repeat center;
        }

        .todo__item:nth-child(4) {
            border-bottom: 2px solid #BFBFBF;
        }

        .todo__item:nth-child(2n + 2) {
            background: #F1F1F1;
        }
    }

    .container__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
        width: 50.1em;

        .items__score {
            padding-bottom: 0;
        }
    }

    .box-container {
        width: 100%;
        display: flex;
        margin-top: 2em;
        justify-content: space-between;
    }

    .graph {
        display: flex;
        justify-content: center;

        .graph__item {
            width: 1.1em;
            height: 8.8em;
            margin: 0 0.3em;
            border: none;
            border-radius: 1em;
            background: #F6F6F6;
            overflow: hidden;
            transform: rotate(180deg);
        }

        .graph__item-fill {
            border: none;
            border-radius: 1em;
            background: linear-gradient(to bottom , #8743B0 , #92A6EA);
        }
        
        .graph__item:nth-child(1) > .graph__item-fill {
            height: 70%;
        }

        .graph__item:nth-child(2) > .graph__item-fill {
            height: 90%;
        }

        .graph__item:nth-child(3) > .graph__item-fill {
            height: 40%;
        }

        .graph__item:nth-child(4) > .graph__item-fill {
            height: 60%;
        }

        .graph__item:nth-child(5) > .graph__item-fill {
            height: 70%;
        }

        .graph__item:nth-child(6) > .graph__item-fill {
            height: 30%;
        }

        .graph__item:nth-child(7) > .graph__item-fill {
            height: 50%;
        }

        .graph__item:nth-child(8) > .graph__item-fill {
            height: 90%;
        }
    }

    .box__title {
        margin: 1.4em 0 1.3em 0;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1.4em;
        color: #777777;
    }

    .box__text {
        margin-top: 23px;
        padding-bottom: 11px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: #834FBA;
    }

    .shipment-text {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: #FD7858;
    }

    .shipment-content {
        display: flex;
        padding: 1em 3em;
        align-items: center;
        justify-content: space-between;
    }

    .items__score {
        position: relative;
        padding-left: 1em;
        padding-bottom: 3em;
        font-family: 'Lato',sans-serif;
        font-weight: bold;
        font-size: 1.3em;
        color: #BFBFBF;
    }

    .triangle-up::before {
        @include triangle(0.1em, calc(50% - 2.7em));
        border-bottom: 0.5em solid #A889E9;
    }

    .triangle-down::before {
        @include triangle(0.1em, calc(50% + 0.3em));
        border-top: 0.5em solid #FD5278;
    }

    .map {
        height: 11.5em;
        width: 18.7em;
    }
}